{% if
  heading is defined and heading and description is defined and description %}
  <div class="bg-white rounded-md">
    <div class="w-full aspect-[378/275]">
      <picture>
        {% if coverPicture is defined and coverPicture %}
          <img src="{{ coverPicture|default(
              'https://placeholder.pics/svg/378x275'
            ) }}"
            alt=""
            class="object-cover w-full h-full rounded-t-md" />
        {% endif %}
      </picture>
    </div>
    {% if link is defined and link %}
      <a href="{{ link }}" class="flex flex-col gap-4 p-4 pb-[53px]">
        <h4 class="font-bold text-[20px] leading-[26px]">
          {{ heading }}
        </h4>
        <p class="text-base font-normal text-gray-700">
          {{ description }}
        </p>
      </a>
    {% else %}
      <div class="flex flex-col gap-4 p-4 pb-[53px]">
        <h4 class="font-bold text-[20px] leading-[26px]">
          {{ heading }}
        </h4>
        <p class="text-base font-normal text-gray-700">
          {{ description }}
        </p>
      </div>
    {% endif %}
  </div>
{% endif %}
