{% if
  date is defined
  and date
  and title is defined
  and title
  and link is defined
  and link %}
  <div class="border-b border-gray-300 last:border-none">
    <div>
      <time class='text-base leading-[19px] py-2 text-gray-700 font-semibold' 
        datetime="{{ date }}">
        {{ date }}
      </time>
    </div>
    
    <h4>
      <a href="{{ link }}" class='text-blue-700 h3'>
        {{ title }}
      </a>
    </h4>

    {% if description is defined and description %}
      <p class="leading-8 text-gray-700 p">
        {{ description }}
      </p>
    {% endif %}

    <a href="{{ link }}"
      class="btn-outline-blue mt-[30px] mb-12">
      Learn More
    </a>
  </div>
{% endif %}
