<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1" />

    <title>
      Pardot Template
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="{{ mix('/css/pardot-form.css') }}" />
  </head>
  <body>
    {% set fields = [
      {
        type: 'text',
        id: '897151_190003pi_897151_190003',
        label: 'First Name',
        description: 'Enter your first name',
        required: true
      },
      {
        type: 'text',
        id: '897151_190006pi_897151_190006',
        label: 'Last Name',
        description: '',
        required: true,
        error: 'This field is required.'
      },
      {
        type: 'text',
        id: '897151_190012pi_897151_190012',
        label: 'Email',
        description: '',
        required: true,
        error: 'This field is required.'
      },
      {
        type: 'text',
        id: '897151_190009pi_897151_190009',
        label: 'Company',
        description: '',
        required: false,
        error: false
      },
      {
        type: 'select',
        id: '897151_190021pi_897151_190021',
        label: 'Industry',
        description: '',
        required: false,
        error: false,
        options: [
          { value: 1639807, text: 'Municipal' },
          { value: 1639810, text: 'Industrial' },
          { value: 1639813, text: 'Environmental' },
          { value: 1639816, text: 'Other' }
        ]
      },
      {
        type: 'textarea',
        id: '897151_190015pi_897151_190015',
        label: 'Comments',
        cols: 40,
        rows: 10,
        description: '',
        required: false,
        error: false
      }
    ] %}

    <form accept-charset="UTF-8" method="post" class="form" id="pardot-form">


      <div class="alert alert-errors">
        Please correct the errors below:
      </div>

      {% for field in fields %}
        <div class="form-field{{ field.required ? ' required' }}{{ field.error ? ' error' }}">
          <label for="{{ field.id }}">
            {% if field.label is defined and field.label %}
              <span>
                {{ field.label }}{{ field.required ? ' *' : '' }}
              </span>
            {% endif %}

            {% if field.type == 'text' %}
              <input type="text"
                name="{{ field.id }}"
                id="{{ field.id }}"
                value=""
                size="30"
                maxlength="40"
                onchange=""
                onfocus="" />
            {% endif %}
            {% if field.type == 'select' %}
              <select name="{{ field.id }}"
                id="{{ field.id }}"
                onchange="">
                <option value="" selected="selected"></option>
                {% for option in field.options %}
                  <option value="{{ option.value }}">
                    {{ option.text }}
                  </option>
                {% endfor %}
              </select>
            {% endif %}
            {% if field.type == 'textarea' %}
              <textarea name="{{ field.id }}"
                id="{{ field.id }}"
                onchange=""
                cols="{{ field.cols }}"
                rows="{{ field.rows }}"></textarea>
            {% endif %}
          </label>



          {% if field.error is defined and (field.error|length) %}
            <p class="error">{{ field.error }}</p>
          {% endif %}

          {% if
            field.description is defined
            and (field.description|length)
            and (field.error is not defined or field.error == false)
          %}
            <p class="info">
              {{ field.description }}
            </p>
          {% endif %}
        </div>
        <div id="error_for_{{ field.id }}" style="display:none"></div>
      {% endfor %}


      <p style="position:absolute; width:190px; left:-9999px; top: -9999px;visibility:hidden;">
        <label for="pi_extra_field">Comments</label>
        <input type="text" name="pi_extra_field" id="pi_extra_field" />
      </p>

      <div class='text-center'>
        <input type="submit" accesskey="s" value="Get Started" />
      </div>
    </form>

    <script src="{{ mix('/js/manifest.js') }}"></script>
    <script src="{{ mix('/js/vendor.js') }}"></script>
    <script src="{{ mix('/js/app.js') }}"></script>
  </body>
</html>
