<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1" />

    <title>
      Pardot Template
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
      rel="stylesheet" />
    <style>*,:after,:before{border:0 solid;box-sizing:border-box}:after,:before{--tw-content:""}html{-webkit-text-size-adjust:100%;font-family:Public Sans,sans-serif;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4}body{line-height:inherit;margin:0}input,select,textarea{color:inherit;font-family:inherit;font-size:100%;font-weight:inherit;line-height:inherit;margin:0;padding:0}select{text-transform:none}[type=submit]{-webkit-appearance:button;background-color:transparent;background-image:none}:-moz-focusring{outline:auto}:-moz-ui-invalid{box-shadow:none}::-webkit-inner-spin-button,::-webkit-outer-spin-button{height:auto}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}p{margin:0}textarea{resize:vertical}input::-moz-placeholder,textarea::-moz-placeholder{color:#c1cfde;opacity:1}input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#c1cfde;opacity:1}[type=text],select,textarea{--tw-shadow:0 0 #0000;-webkit-appearance:none;-moz-appearance:none;appearance:none;background-color:#fff;border-color:#92a0ae;border-radius:0;border-width:1px;font-size:1rem;line-height:1.5rem;padding:.5rem .75rem}input::-moz-placeholder,textarea::-moz-placeholder{color:#92a0ae;opacity:1}input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#92a0ae;opacity:1}::-webkit-datetime-edit-fields-wrapper{padding:0}::-webkit-date-and-time-value{min-height:1.5em}::-webkit-datetime-edit,::-webkit-datetime-edit-day-field,::-webkit-datetime-edit-hour-field,::-webkit-datetime-edit-meridiem-field,::-webkit-datetime-edit-millisecond-field,::-webkit-datetime-edit-minute-field,::-webkit-datetime-edit-month-field,::-webkit-datetime-edit-second-field,::-webkit-datetime-edit-year-field{padding-bottom:0;padding-top:0}select{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%2392A0AE' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");background-position:right .5rem center;background-repeat:no-repeat;background-size:1.5em 1.5em;padding-right:2.5rem;print-color-adjust:exact}*,:after,:before{--tw-border-spacing-x:0;--tw-border-spacing-y:0;--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1;--tw-pan-x: ;--tw-pan-y: ;--tw-pinch-zoom: ;--tw-scroll-snap-strictness:proximity;--tw-ordinal: ;--tw-slashed-zero: ;--tw-numeric-figure: ;--tw-numeric-spacing: ;--tw-numeric-fraction: ;--tw-ring-inset: ;--tw-ring-offset-width:0px;--tw-ring-offset-color:#fff;--tw-ring-color:rgba(95,173,232,.5);--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;--tw-blur: ;--tw-brightness: ;--tw-contrast: ;--tw-grayscale: ;--tw-hue-rotate: ;--tw-invert: ;--tw-saturate: ;--tw-sepia: ;--tw-drop-shadow: ;--tw-backdrop-blur: ;--tw-backdrop-brightness: ;--tw-backdrop-contrast: ;--tw-backdrop-grayscale: ;--tw-backdrop-hue-rotate: ;--tw-backdrop-invert: ;--tw-backdrop-opacity: ;--tw-backdrop-saturate: ;--tw-backdrop-sepia: }::-webkit-backdrop{--tw-border-spacing-x:0;--tw-border-spacing-y:0;--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1;--tw-pan-x: ;--tw-pan-y: ;--tw-pinch-zoom: ;--tw-scroll-snap-strictness:proximity;--tw-ordinal: ;--tw-slashed-zero: ;--tw-numeric-figure: ;--tw-numeric-spacing: ;--tw-numeric-fraction: ;--tw-ring-inset: ;--tw-ring-offset-width:0px;--tw-ring-offset-color:#fff;--tw-ring-color:rgba(95,173,232,.5);--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;--tw-blur: ;--tw-brightness: ;--tw-contrast: ;--tw-grayscale: ;--tw-hue-rotate: ;--tw-invert: ;--tw-saturate: ;--tw-sepia: ;--tw-drop-shadow: ;--tw-backdrop-blur: ;--tw-backdrop-brightness: ;--tw-backdrop-contrast: ;--tw-backdrop-grayscale: ;--tw-backdrop-hue-rotate: ;--tw-backdrop-invert: ;--tw-backdrop-opacity: ;--tw-backdrop-saturate: ;--tw-backdrop-sepia: }::backdrop{--tw-border-spacing-x:0;--tw-border-spacing-y:0;--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1;--tw-pan-x: ;--tw-pan-y: ;--tw-pinch-zoom: ;--tw-scroll-snap-strictness:proximity;--tw-ordinal: ;--tw-slashed-zero: ;--tw-numeric-figure: ;--tw-numeric-spacing: ;--tw-numeric-fraction: ;--tw-ring-inset: ;--tw-ring-offset-width:0px;--tw-ring-offset-color:#fff;--tw-ring-color:rgba(95,173,232,.5);--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;--tw-blur: ;--tw-brightness: ;--tw-contrast: ;--tw-grayscale: ;--tw-hue-rotate: ;--tw-invert: ;--tw-saturate: ;--tw-sepia: ;--tw-drop-shadow: ;--tw-backdrop-blur: ;--tw-backdrop-brightness: ;--tw-backdrop-contrast: ;--tw-backdrop-grayscale: ;--tw-backdrop-hue-rotate: ;--tw-backdrop-invert: ;--tw-backdrop-opacity: ;--tw-backdrop-saturate: ;--tw-backdrop-sepia: }.form{display:flex;flex-direction:column;gap:1rem;margin-left:auto;margin-right:auto;max-width:640px}.alert{--tw-border-opacity:1;--tw-bg-opacity:1;background-color:rgb(193 207 222/var(--tw-bg-opacity));border-color:rgb(146 160 174/var(--tw-border-opacity));border-radius:.25rem;border-width:2px;padding:.5rem}.alert-errors{background-color:rgb(255 0 0/var(--tw-bg-opacity));border-color:rgb(255 0 0/var(--tw-border-opacity))}.alert-errors,input[type=submit]{--tw-border-opacity:1;--tw-bg-opacity:1;--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity))}input[type=submit]{align-items:center;background-color:rgb(38 135 75/var(--tw-bg-opacity));border-color:rgb(38 135 75/var(--tw-border-opacity));border-radius:9999px;border-width:1px;display:inline-flex;font-size:1rem;font-weight:700;justify-content:center;line-height:1.5rem;line-height:18px;padding:calc(1.5rem - 2px) calc(2.25rem - 2px);text-align:center;white-space:nowrap}input[type=submit]{min-width:200px}.form-field,.form-field label{display:flex;flex-direction:column;gap:3px}.form-field label span{font-size:1rem;font-weight:600;line-height:1.5rem;line-height:19px}.form-field input[type=text],.form-field select,.form-field textarea{--tw-border-opacity:1;--tw-bg-opacity:1;background-color:rgb(255 255 255/var(--tw-bg-opacity));border-color:rgb(193 207 222/var(--tw-border-opacity));border-radius:.25rem;display:block;padding:9px;width:100%}.form-field.error label span{--tw-text-opacity:1;color:rgb(255 0 0/var(--tw-text-opacity))}.form-field.error input[type=text]{--tw-border-opacity:1;background-color:rgba(255,0,0,.1);border-color:rgb(255 0 0/var(--tw-border-opacity))}.form-field p.info{color:rgb(68 80 92/var(--tw-text-opacity))}.form-field p.error,.form-field p.info{--tw-text-opacity:1;font-size:.875rem;line-height:1.25rem}.form-field p.error{color:rgb(255 0 0/var(--tw-text-opacity))}*{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}body{font-family:Public Sans,sans-serif}.text-center{text-align:center}</style>
  </head>
  <body>
    {% set fields = [
      {
        type: 'text',
        id: '897151_190003pi_897151_190003',
        label: 'First Name',
        description: 'Enter your first name',
        required: true
      },
      {
        type: 'text',
        id: '897151_190006pi_897151_190006',
        label: 'Last Name',
        description: '',
        required: true,
        error: 'This field is required.'
      },
      {
        type: 'text',
        id: '897151_190012pi_897151_190012',
        label: 'Email',
        description: '',
        required: true,
        error: 'This field is required.'
      },
      {
        type: 'text',
        id: '897151_190009pi_897151_190009',
        label: 'Company',
        description: '',
        required: false,
        error: false
      },
      {
        type: 'select',
        id: '897151_190021pi_897151_190021',
        label: 'Industry',
        description: '',
        required: false,
        error: false,
        options: [
          { value: 1639807, text: 'Municipal' },
          { value: 1639810, text: 'Industrial' },
          { value: 1639813, text: 'Environmental' },
          { value: 1639816, text: 'Other' }
        ]
      },
      {
        type: 'textarea',
        id: '897151_190015pi_897151_190015',
        label: 'Comments',
        cols: 40,
        rows: 10,
        description: '',
        required: false,
        error: false
      }
    ] %}

    <form accept-charset="UTF-8" method="post" class="form" id="pardot-form">


      <div class="alert alert-errors">
        Please correct the errors below:
      </div>

      {% for field in fields %}
        <div class="form-field{{ field.required ? ' required' }}{{ field.error ? ' error' }}">
          <label for="{{ field.id }}">
            {% if field.label is defined and field.label %}
              <span>
                {{ field.label }}{{ field.required ? ' *' : '' }}
              </span>
            {% endif %}

            {% if field.type == 'text' %}
              <input type="text"
                name="{{ field.id }}"
                id="{{ field.id }}"
                value=""
                size="30"
                maxlength="40"
                onchange=""
                onfocus="" />
            {% endif %}
            {% if field.type == 'select' %}
              <select name="{{ field.id }}"
                id="{{ field.id }}"
                onchange="">
                <option value="" selected="selected"></option>
                {% for option in field.options %}
                  <option value="{{ option.value }}">
                    {{ option.text }}
                  </option>
                {% endfor %}
              </select>
            {% endif %}
            {% if field.type == 'textarea' %}
              <textarea name="{{ field.id }}"
                id="{{ field.id }}"
                onchange=""
                cols="{{ field.cols }}"
                rows="{{ field.rows }}"></textarea>
            {% endif %}
          </label>



          {% if field.error is defined and (field.error|length) %}
            <p class="error">{{ field.error }}</p>
          {% endif %}

          {% if
            field.description is defined
            and (field.description|length)
            and (field.error is not defined or field.error == false)
          %}
            <p class="info">
              {{ field.description }}
            </p>
          {% endif %}
        </div>
        <div id="error_for_{{ field.id }}" style="display:none"></div>
      {% endfor %}


      <p style="position:absolute; width:190px; left:-9999px; top: -9999px;visibility:hidden;">
        <label for="pi_extra_field">Comments</label>
        <input type="text" name="pi_extra_field" id="pi_extra_field" />
      </p>

      <div class='text-center'>
        <input type="submit" accesskey="s" value="Get Started" />
      </div>
    </form>

    <script src="{{ mix('/js/manifest.js') }}"></script>
    <script src="{{ mix('/js/vendor.js') }}"></script>
    <script src="{{ mix('/js/app.js') }}"></script>
  </body>
</html>
